<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dbConnectionString" connectionString="Data Source=DESKTOP-PN3GBNL\SQLEXPRESS;Initial Catalog=&quot;Clase 9&quot;;Integrated Security=True;Encrypt=False;" />
    </connectionStrings>
</configuration>